$primary-color: #7F57D8;
$darker-primary-color: #633BBC;
$secondary-color: #202024;


.wrapper {
  background: linear-gradient(to bottom, rgb(4, 2, 18), rgb(4, 1, 14));
  width: 100vw;
  height: 100vh;
}

.header {
  color: white;
  display: flex;
  flex-direction: column;

  &_icon {
    text-align: start;
    font-size: 2rem;
    margin: .4rem 1rem 1rem 1rem;
  }

}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.regType {
  color: white;
  font-size: 1.3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;

  &_option {
    cursor: pointer;
    color: gray;
  }
}

.regType_option__selected {
  color: white;
  border-bottom: 3px solid $primary-color;
}

.form {
  display: flex;
  flex-direction: column;
  background: $secondary-color;
  margin-top: 2rem;
  padding: .6rem;
  width: 90vw;
  border-radius: 8px;

  &_title {
    color: white;
    text-align: start;
    margin: 1rem 1rem 0 1rem;
  }

  Input {
    width: 100%;
    margin: 1rem;
  }

  &_terms {
    color: white;
    margin: 1rem;
    font-size: .9rem;

    strong {
      color: $primary-color;
    }
  }

  Button {
    margin: 1rem;
  }
}